# ROS2 build artifacts
../build/
../install/
../log/

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# Editor
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Universal_Robots_ROS2_Description/
Universal_Robots_ROS2_GZ_Simulation/
Universal_Robots_ROS2_Driver/
ros2_robotiq_gripper/
